WhatsApp Lead Outreach (AI + Telegram).json
{
    "nodes": [
        {
            "parameters": {
                "jsCode": "// Filter leads: uncontacted + has phone + dedup\nconst items = $input.all();\nconst uncontacted = [];\nconst seenPhones = new Set();\nconst DAILY_LIMIT = 40;\n\n// Social media / non-website URL patterns\nconst NOT_WEBSITE = [\n  'instagram.com', 'facebook.com', 'fb.com', 'wa.me',\n  'api.whatsapp.com', 'whatsapp.com', 'youtube.com', 'youtu.be',\n  'twitter.com', 'x.com', 'linkedin.com', 'tiktok.com',\n  'linktr.ee', 'linktree.com', 'bit.ly', 'g.page',\n  'maps.google.com', 'goo.gl', 'maps.app.goo.gl',\n  'zomato.com', 'swiggy.com', 'justdial.com',\n  'play.google.com', 'apps.apple.com'\n];\n\nfunction isRealWebsite(url) {\n  if (!url || url === '' || url === 'None' || url === 'none' || url === 'N/A') return false;\n  const lower = url.toLowerCase().trim();\n  if (lower.length < 5) return false;\n  // Check if it's a social media / non-website link\n  for (const pattern of NOT_WEBSITE) {\n    if (lower.includes(pattern)) return false;\n  }\n  return true;\n}\n\nfor (const item of items) {\n  const status = (item.json.status || '').toString().toLowerCase().trim();\n  const phone = (item.json.phone || '').toString().trim();\n  \n  // Skip already contacted\n  if (['contacted', 'replied', 'converted', 'not_interested'].includes(status)) continue;\n  if (!phone || phone.length < 8) continue;\n  \n  // Clean phone for WhatsApp (91XXXXXXXXXX)\n  let cleanPhone = phone.replace(/[^0-9+]/g, '');\n  if (cleanPhone.startsWith('+91')) cleanPhone = cleanPhone.substring(1);\n  else if (cleanPhone.startsWith('0')) cleanPhone = '91' + cleanPhone.substring(1);\n  else if (!cleanPhone.startsWith('91') && cleanPhone.length === 10) cleanPhone = '91' + cleanPhone;\n  if (cleanPhone.length < 12) continue;\n  \n  // DEDUP: skip if phone already seen\n  if (seenPhones.has(cleanPhone)) continue;\n  seenPhones.add(cleanPhone);\n\n  // Check if website is REAL (not instagram/facebook/whatsapp link)\n  const rawWebsite = (item.json.website || '').toString().trim();\n  const hasRealWebsite = isRealWebsite(rawWebsite);\n\n  uncontacted.push({\n    json: {\n      business_name: item.json.business_name || 'Business',\n      category: item.json.category || '',\n      city: item.json.city || '',\n      phone: phone,\n      email: item.json.email || '',\n      website: hasRealWebsite ? rawWebsite : '',\n      has_website: hasRealWebsite ? 'YES' : 'NO',\n      google_maps_url: item.json.google_maps_url || '',\n      rating: item.json.rating || '',\n      clean_phone: cleanPhone,\n      row_number: items.indexOf(item) + 2\n    }\n  });\n  \n  if (uncontacted.length >= DAILY_LIMIT) break;\n}\n\nreturn uncontacted;"
            },
            "id": "dec40633-a0f2-46e3-b4ac-1555136757ea",
            "name": "Filter Uncontacted",
            "position": [
                688,
                944
            ],
            "type": "n8n-nodes-base.code",
            "typeVersion": 2
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://integrate.api.nvidia.com/v1/chat/completions",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"model\": \"meta/llama-3.1-405b-instruct\",\n  \"max_tokens\": 200,\n  \"temperature\": 0.6,\n  \"top_p\": 0.85,\n  \"stream\": false,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You write short WhatsApp messages. Output ONLY the raw message text. No quotes, no labels, no explanation.\\n\\nRules:\\n- Start with: Hi [business name]\\n- End with: - Vikash\\n- MAX 5 lines, 60-70 words total\\n- Zero emojis, zero exclamation marks\\n- Never say: AI, automation, chatbot, digital, innovative, leverage, Dear, Sir, Madam\\n- Simple words only: auto-reply, booking system, online menu page, website\\n\\nWhat to offer based on has_website field:\\n\\nIF has_website is NO: a professional website page showing their menu or services, prices, location, and WhatsApp button.\\n\\nIF has_website is YES and type is restaurant/cafe/bakery/food: WhatsApp auto-reply that sends menu and takes orders when busy.\\n\\nIF has_website is YES and type is salon/spa/beauty: WhatsApp booking system where customers pick a slot.\\n\\nIF has_website is YES and type is gym/fitness/yoga: WhatsApp auto-reply for membership plans and trial booking.\\n\\nIF has_website is YES and type is dental/doctor/clinic: WhatsApp appointment booking.\\n\\nIF has_website is YES and any other type: Google review auto-responder.\\n\\nAlways mention: free 14-day trial, only 3 spots this week, no payment needed, stop anytime.\\n\\nExample output:\\nHi Spice Kitchen - 4.2 stars and no website yet. I build online menu pages with prices, photos and a WhatsApp order button for restaurants. Free 14-day trial, 3 spots left this week. Want to try it? - Vikash\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Business: {{ $json.business_name }}\\nType: {{ $json.category }}\\nCity: {{ $json.city }}\\nRating: {{ $json.rating }}\\nhas_website: {{ $json.has_website }}\"\n    }\n  ]\n}",
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "json"
                        }
                    }
                }
            },
            "id": "a7d4b45c-ce5c-4885-8a3e-7c33682d71fa",
            "name": "AI Message Generator",
            "position": [
                1120,
                944
            ],
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.4,
            "credentials": {
                "httpHeaderAuth": {
                    "id": "dixJTs9Uqg5lS26P",
                    "name": "NVIDIA NIM API"
                }
            }
        },
        {
            "parameters": {
                "mode": "runOnceForEachItem",
                "jsCode": "const lead = $('Filter Uncontacted').item.json;\nlet message = '';\n\ntry {\n  message = $json.choices[0].message.content.trim();\n  \n  // Remove wrapping quotes if model added them\n  if ((message.startsWith('\"') && message.endsWith('\"')) || (message.startsWith(\"'\") && message.endsWith(\"'\"))) {\n    message = message.slice(1, -1).trim();\n  }\n  \n  // Fix common model mistakes\n  message = message.replace(/\\[Your Name\\]/gi, 'Vikash');\n  message = message.replace(/\\[your name\\]/gi, 'Vikash');\n  message = message.replace(/\\[Name\\]/gi, 'Vikash');\n  message = message.replace(/- \\[.*?\\]$/gm, '- Vikash');\n  \n  // Fix if model addresses Vikash instead of business\n  if (message.toLowerCase().startsWith('hi vikash')) {\n    message = message.replace(/^hi vikash[,\\s-]*/i, `Hi ${lead.business_name} - `);\n  }\n  if (message.toLowerCase().startsWith('hello vikash')) {\n    message = message.replace(/^hello vikash[,\\s-]*/i, `Hi ${lead.business_name} - `);\n  }\n  \n  // Strip emojis\n  message = message.replace(/[\\u{1F600}-\\u{1F64F}\\u{1F300}-\\u{1F5FF}\\u{1F680}-\\u{1F6FF}\\u{1F1E0}-\\u{1F1FF}\\u{2600}-\\u{27BF}\\u{2700}-\\u{27BF}\\u{FE00}-\\u{FE0F}\\u{1F900}-\\u{1F9FF}\\u{200D}\\u{23CF}\\u{23E9}-\\u{23F3}\\u{23F8}-\\u{23FA}\\u{2934}\\u{2935}\\u{25AA}-\\u{25FE}\\u{2B05}-\\u{2B07}\\u{2B1B}\\u{2B1C}\\u{2B50}\\u{2B55}\\u{3030}\\u{303D}\\u{3297}\\u{3299}\\u{1FA70}-\\u{1FAFF}\\u{1FC00}-\\u{1FCFF}]/gu, '').trim();\n  // Strip exclamation marks\n  message = message.replace(/!/g, '.');\n  // Clean double spaces\n  message = message.replace(/  +/g, ' ');\n  // Clean double periods\n  message = message.replace(/\\.\\.+/g, '.');\n  \n  // Ensure ends with - Vikash\n  if (!message.includes('- Vikash') && !message.includes('-Vikash')) {\n    message = message.replace(/\\s*$/, ' - Vikash');\n  }\n  \n  // Ensure starts with Hi [business_name]\n  if (!message.toLowerCase().startsWith('hi ')) {\n    message = `Hi ${lead.business_name} - ` + message;\n  }\n  \n} catch(e) {\n  // Hardcoded fallback - guaranteed good message\n  if (lead.has_website === 'YES') {\n    const cat = (lead.category || '').toLowerCase();\n    if (cat.match(/restaurant|cafe|bakery|food|kitchen/)) {\n      message = `Hi ${lead.business_name} - ${lead.rating || '4+'} stars, great reviews. Do customers WhatsApp you for menu or orders when you are busy? I set up auto-reply systems that handle it. Free 7-day trial, 3 spots this week. Want to try? - Vikash`;\n    } else if (cat.match(/salon|spa|beauty|parlour/)) {\n      message = `Hi ${lead.business_name} - ${lead.rating || '4+'} stars, clearly popular. I build WhatsApp booking systems where customers pick a slot and book without calling you. Free 7-day trial, 3 spots this week. Interested? - Vikash`;\n    } else {\n      message = `Hi ${lead.business_name} - ${lead.rating || '4+'} star rating, solid. I set up auto-reply for Google reviews so every customer gets a thank-you reply within minutes. Free 7-day trial, 3 spots this week. Want to try? - Vikash`;\n    }\n  } else {\n    message = `Hi ${lead.business_name} - ${lead.rating || '4+'} stars but no website yet. I build business pages with your menu, prices, location and WhatsApp button. Free 7-day trial, 3 spots this week. Want one? - Vikash`;\n  }\n}\n\nconst phone = lead.clean_phone;\nconst waLink = `https://wa.me/${phone}?text=${encodeURIComponent(message)}`;\n\n// Telegram card\nlet tg = `<b>${lead.business_name}</b>\\n`;\ntg += `${lead.category || 'Business'} | ${lead.city}`;\nif (lead.rating) tg += ` | ${lead.rating} stars`;\ntg += `\\nPhone: ${lead.phone}`;\ntg += `\\nWebsite: ${lead.has_website === 'YES' ? lead.website : 'None'}`;\ntg += `\\n\\n<i>${message.replace(/</g, '&lt;').replace(/>/g, '&gt;')}</i>`;\ntg += `\\n\\n<a href=\"${waLink}\">TAP TO SEND ON WHATSAPP</a>`;\nif (lead.google_maps_url) tg += `\\n<a href=\"${lead.google_maps_url}\">View on Maps</a>`;\n\nreturn {\n  json: {\n    ...lead,\n    ai_message: message,\n    wa_link: waLink,\n    telegram_text: tg\n  }\n};"
            },
            "id": "182cdb5e-aa71-4692-af98-776a75923ee8",
            "name": "Build WhatsApp Link",
            "position": [
                1344,
                944
            ],
            "type": "n8n-nodes-base.code",
            "typeVersion": 2
        },
        {
            "parameters": {
                "chatId": "6544741824",
                "text": "={{ $json.telegram_text }}",
                "additionalFields": {
                    "disable_web_page_preview": true,
                    "parse_mode": "HTML"
                }
            },
            "id": "411f5ea0-5635-45a0-ada3-a985c50d3f27",
            "name": "Send to Telegram",
            "position": [
                1552,
                944
            ],
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "webhookId": "c2e0aa55-9dcc-4c8d-9e1e-df0d0087865d",
            "credentials": {
                "telegramApi": {
                    "id": "j4gKlWlXw1rncrQb",
                    "name": "WhatsApp Outreach Bot"
                }
            }
        },
        {
            "parameters": {
                "amount": 2
            },
            "id": "69592eb1-92db-481d-af65-3c12f74dee9f",
            "name": "Wait 2s",
            "position": [
                1760,
                944
            ],
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "webhookId": "3b733363-e149-4ff7-bcad-428fda490afb"
        },
        {
            "parameters": {
                "operation": "update",
                "documentId": {
                    "__rl": true,
                    "value": "16kR7CqPjiapIKIOqRkLM-lITNJh0_rupaSeK2i5wCzg",
                    "mode": "list",
                    "cachedResultName": "Leads Gen",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16kR7CqPjiapIKIOqRkLM-lITNJh0_rupaSeK2i5wCzg/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "gid=0",
                    "mode": "list",
                    "cachedResultName": "Sheet1",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16kR7CqPjiapIKIOqRkLM-lITNJh0_rupaSeK2i5wCzg/edit#gid=0"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "status": "contacted",
                        "phone": "={{ $('Build WhatsApp Link').item.json.phone }}"
                    },
                    "matchingColumns": [
                        "phone"
                    ],
                    "schema": [
                        {
                            "id": "business_name",
                            "displayName": "business_name",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "category",
                            "displayName": "category",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "city",
                            "displayName": "city",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "phone",
                            "displayName": "phone",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "email",
                            "displayName": "email",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "website",
                            "displayName": "website",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "google_maps_url",
                            "displayName": "google_maps_url",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "address",
                            "displayName": "address",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "rating",
                            "displayName": "rating",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "source",
                            "displayName": "source",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "date_added",
                            "displayName": "date_added",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "status",
                            "displayName": "status",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "search_keyword",
                            "displayName": "search_keyword",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "scraped_at",
                            "displayName": "scraped_at",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "row_number",
                            "displayName": "row_number",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "number",
                            "canBeUsedToMatch": true,
                            "readOnly": true,
                            "removed": true
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {}
            },
            "id": "44588a1d-c1f6-4036-9363-e1680a92864c",
            "name": "Mark as Contacted",
            "position": [
                1968,
                944
            ],
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.7,
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "1gz3DofInpV64qih",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "content": "# WhatsApp Lead Outreach",
                "height": 272,
                "width": 2000
            },
            "id": "b2085d8b-2a5f-4220-860d-d38b20a7e113",
            "name": "Sticky Note",
            "position": [
                176,
                848
            ],
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1
        },
        {
            "parameters": {
                "documentId": {
                    "__rl": true,
                    "value": "16kR7CqPjiapIKIOqRkLM-lITNJh0_rupaSeK2i5wCzg",
                    "mode": "list",
                    "cachedResultName": "Leads Gen",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16kR7CqPjiapIKIOqRkLM-lITNJh0_rupaSeK2i5wCzg/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "gid=0",
                    "mode": "list",
                    "cachedResultName": "Sheet1",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16kR7CqPjiapIKIOqRkLM-lITNJh0_rupaSeK2i5wCzg/edit#gid=0"
                },
                "filtersUI": {
                    "values": [
                        {
                            "lookupColumn": "status",
                            "lookupValue": "New"
                        }
                    ]
                },
                "options": {}
            },
            "id": "7aa171be-30d6-4bf3-9da2-471893a36303",
            "name": "Get Leads Sheet",
            "position": [
                480,
                944
            ],
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.7,
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "1gz3DofInpV64qih",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "maxItems": 10
            },
            "type": "n8n-nodes-base.limit",
            "typeVersion": 1,
            "position": [
                896,
                944
            ],
            "id": "19d0b2db-1bed-4c56-b847-261fc4ebee79",
            "name": "Limit"
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hours",
                            "hoursInterval": 6
                        }
                    ]
                }
            },
            "id": "626ffc24-8c3b-472d-8cc8-9a35262e5fa7",
            "name": "Every 6 Hour Trigger",
            "position": [
                272,
                944
            ],
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.3
        }
    ],
    "connections": {
        "Filter Uncontacted": {
            "main": [
                [
                    {
                        "node": "Limit",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Message Generator": {
            "main": [
                [
                    {
                        "node": "Build WhatsApp Link",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build WhatsApp Link": {
            "main": [
                [
                    {
                        "node": "Send to Telegram",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send to Telegram": {
            "main": [
                [
                    {
                        "node": "Wait 2s",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait 2s": {
            "main": [
                [
                    {
                        "node": "Mark as Contacted",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Leads Sheet": {
            "main": [
                [
                    {
                        "node": "Filter Uncontacted",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Limit": {
            "main": [
                [
                    {
                        "node": "AI Message Generator",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Every 6 Hour Trigger": {
            "main": [
                [
                    {
                        "node": "Get Leads Sheet",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "260ed10ca7527eef1744f6416cc66abd26c4fd51c36b77a8b51c7f7491d8e75e"
    }
}